*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Section Header */
li, a {
    font-family: "inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #5F656D;
    text-decoration: none;
} 

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 85px;
    padding-right: 15px;
    max-width: 1000px;
    margin: 0 auto;
}

span{
    align-items: center;
    display: flex;
    font-family: "inter", sans-serif;
    font-weight: bold;
}

.logo{
    cursor: pointer;
    /* margin-right: 0 auto; */
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

header button{
    padding: 10px 15px 10px 15px;
    background-color: #366059;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "inter", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

/* Section Base */
.container{
    max-width: 957px;
    margin: 0 auto;
}

/* Section Intro */
.intro{
    max-width: 1000px;
    margin: 0 auto;
}

.intro h1{
    padding-bottom: 0px;
    padding-left: 60px;
    font-family: "inter", sans-serif;
    font-weight: bold;
    line-height: 1.2;
    font-size: 40px;
    color: #213248;
}

.intro p{
    padding-top: 0px;
    padding-left: 60px;
    font-family: "inter", sans-serif;
    line-height: 2.0;
    font-size: 12px;
    color: #90969E;
    font-weight: normal;
    max-width: 600px;
}

/* Section Hero */
.hero-background{
    padding-left: 10%;
    top: 125px;
    position: relative;
    background-image: linear-gradient(to bottom,#F3F5F7, #F3F5F7, transparent);

}

main.hero{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}
  
.hero-background .star-eight {
    background: #FF7E35;
    top: -20px;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
}

.hero-background .star-eight:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    background: #FF7E35;
    -webkit-transform: rotate(135deg);
       -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
         -o-transform: rotate(135deg);
}

.hero-background ul{
    list-style: none;
    line-height: 2.5;
    font-family: "inter", sans-serif;
}

.hero-background .gambar1{
    height: 312px;
    width: 290px;
    border-radius: 30px;
    margin-top: -62px;
    /* margin-right: -55px;
    margin-left: 50px; */
}

.hero-background .gambar2{
    height: 386px;
    width: 290px;
    border-radius: 30px;
    margin-top: -108px;
}

.card {
    border-radius: 15px;
    background-color: #FBF9F7;
    /* margin-left: 145px; */
    position: relative;
    width: 120px;
    height: 60px;
    right: 50px;
    margin-top: -30px;
}
  
.card h4{
    font-size: 25px;
    padding-left: 10px;
    font-family: "inter", sans-serif;
}

.card p{
    padding-left: 10px;
    font-size: 9px;
    font-family: "inter", sans-serif;
}
    
.card .container {
    padding: 2px 16px;
}

.card2 {
    border-radius: 15px;
    background-color: #FBF9F7;
    margin-left: 145px;
    position: relative;
    width: 90px;
    height: 60px;
    margin-top: -30px;
    left: 650px;
    bottom: 225px;
}
  
.card2 h4{
    font-size: 25px;
    padding-left: 10px;
    font-family: "inter", sans-serif;
}

.card2 p{
    padding-left: 10px;
    font-size: 9px;
    font-family: "inter", sans-serif;
}
    
.card2 .container {
    padding: 2px 16px;
}

.sponsor{
    width: 853px;
    height: 30px;
    margin-top: 25px;
}

/* Section */
.grid-container {
    margin-top: 5%;
    display: grid;
    gap: 10px;
    background-color: #D9D9D9;
    margin-right: 10%;
    padding: 15px;
    border-radius: 35px;
  }
  
  .grid-item {
    background-color: #D9D9D9;
    text-align: left;
    padding: 20px;
    font-family: "inter", sans-serif;
  }
  
  .item1 {
    grid-column: 1;
    grid-row: 1;
    width: 300px;
    /* padding-right: 90px; */
    font-size: 27px;
    font-weight: bold;
  }
  
  .item1 button{
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    outline: 2px solid #56746F;  
  }

  .item2 {
    grid-column: 3;
    grid-row: 1;
    border-radius: 25px;
    width: 335px;
    height: 163px;
    font-size: 16px;
    /* margin-left: 10px; */
  }
  
  .item3 {
    border-radius: 25px;
    width: 170px;
    height: 163px;
    font-size: 12px;
    /* margin-left: 15px; */
  }

  .item5 {
    grid-column: 2 / span 2;
    grid-row: 2;
    width: 523px;
    height: 340px;
    border-radius: 25px;
    object-fit: cover;
    background-image: url("https://images.unsplash.com/photo-1617369218957-241ee942ebfa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzN8fGxhbmRzY2FwZSUyMG5hdHVyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=2000&q=60");
  }
