*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Section Header */
li, a {
    font-family: "inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #5F656D;
    text-decoration: none;
} 

header{
    padding-top: 30px;
    padding-bottom: 70px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span{
    align-items: center;
    display: flex;
    font-family: "inter", sans-serif;
    font-weight: bold;
}

.logo{
    cursor: pointer;
    margin-right: 0 auto;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

header button{
    padding: 10px 15px 10px 15px;
    background-color: #366059;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "inter", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

header button:hover{
    background-color: #FFFFFF;
    color: #366059;
    border: 1px solid #366059;
    transition: 0.3s;
}

/* Section Base */
.container{
    max-width: 885px;
    margin: 0 auto;
    width: 100%;
}


/* Section Intro */
.intro h1{
    padding-bottom: 0px;
    font-family: "inter", sans-serif;
    font-weight: bold;
    line-height: 1.5;
    font-size: 40px;
    color: #213248;
}

.intro b{
    color: #366059
}

.intro p{
    padding-top: 27px;
    padding-bottom: 15px;
    font-family: "inter", sans-serif;
    line-height: 2.0;
    font-size: 12px;
    color: #90969E;
    font-weight: normal;
    max-width: 600px;
}


/* Section Hero */
.hero-background{
    top: 90px;
    position: relative;
    background-image: linear-gradient(to bottom,#F3F5F7, #F3F5F7, transparent);

}

main.hero{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.hero-background .menu{
    margin-right: 0px;
    width: 205px;
}

.hero-background .star-eight {
    background: #FF7E35;
    top: -20px;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
}

.hero-background .star-eight:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    background: #FF7E35;
    -webkit-transform: rotate(135deg);
       -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
         -o-transform: rotate(135deg);
}

.hero-background ul{
    list-style: none;
    line-height: 2.5;
    font-family: "inter", sans-serif;
}

.hero-background .gambar1{
    height: 312px;
    width: 290px;
    border-radius: 30px;
    margin-top: -62px;
    object-fit: cover;
    /* margin-right: -55px;
    margin-left: 50px; */
}

.hero-background .play{
    /* margin-top: -60px;
    margin-left: -50px; */
    position: absolute;
    bottom: -15px;
    left: -45px;
}

.hero-background .gambar2{
    height: 386px;
    width: 290px;
    border-radius: 30px;
    margin-top: -108px;
}

.hero-background .hero1{
    position: relative;
    width: 260px;
}

.hero-background .hero2{
    position: relative;
}

.card {
    border-radius: 15px;
    background-color: #FBF9F7;
    /* margin-left: 145px; */
    position: absolute;
    width: 120px;
    height: 76px;
    padding: 12px 16px;
    top: -25px;
    right: -25px;
}

.card sup{
    color: #F58041;
}

.card h4{
    font-size: 25px;
    padding-left: 10px;
    font-family: "inter", sans-serif;
    color: #366059;
}

.card p{
    padding-left: 10px;
    font-size: 9px;
    font-family: "inter", sans-serif;
    color: #90969E
}

.card2 {
    border-radius: 15px;
    background-color: #FBF9F7;
    /* margin-left: 145px; */
    position: absolute;
    width: 90px;
    height: 76px;
    /* margin-top: -41px; */
    /* left: 625px; */
    /* bottom: 215px; */
    /* padding-top: 10px; */
    padding: 12px 16px;
    top: 61px;
    right: 5px;
}
  
.card2 b{
    color: #366059
}

.card2 sup{
    color: #F58041
}

.card2 h4{
    font-size: 25px;
    padding-left: 10px;
    font-family: "inter", sans-serif;
    color: #366059;
}

.card2 p{
    padding-left: 10px;
    font-size: 9px;
    font-family: "inter", sans-serif;
    color: #90969E
}

.sponsor{
    width: 853px;
    height: 30px;
    margin-top: 47px;
}


/* Section */
.grid-container {
    margin-top: 128px;
    display: grid;
    gap: 10px;
    background-color: #D9D9D9;
    padding: 35px;
    border-radius: 35px;
  }
  
  .grid-item {
    background-color: #D9D9D9;
    text-align: left;
    /* padding: 20px; */
    font-family: "inter", sans-serif;
  }
  
  .item1 {
    padding: 0px 20px 20px 20px;
    grid-column: 1;
    grid-row: 1;
    width: 270px;
    font-size: 27px;
    font-weight: bold;
    color: #213248;
  }
  
  .item1 button{
    border: none;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    outline: 1px solid #56746F;
    background-color: transparent;
    color: #3F625B
  }

.item1 button:hover{
    background-color: transparent;
    color: #366059;
    border: 1px solid #366059;
}

  .item2 {
    padding: 20px;
    grid-column: 3;
    grid-row: 1;
    border-radius: 25px;
    width: 350px;
    height: 163px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #366059;
  }

  .item2 p{
    margin-right: 90px;
    line-height: 1.5;
  }
  
.item2 button{
    border: none;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    outline: 1px solid #FFFFFF;
    background-color: transparent;
    margin-top: 45px;
    color: #FFFFFF;
}

.item2 button:hover{
    background-color: #ffffff;
    color: #366059;
    transition: 0.3s;
}

  .item3 {
    padding: 20px;
    border-radius: 25px;
    width: 175px;
    height: 163px;
    font-size: 12px;
    background-color: #FFFFFF;
  }

  .item3 p{
    color: #3E635D;
    font-weight: lighter;
    margin-right: 5px;
  }

   .item4{
    padding: 20px 20px 0px 20px;
    border-radius: 25px;  
    background-color: transparent;  
    width: 270px;
    display: flex;
    align-items: end;
    gap: 25px;
    /* justify-content: space-between; */
   }

.item4 .icon1{
    font-size: 30px;
    background-color: #FF7E35;
    /* width: 40px; */
    padding: 9px 12px 9px 11px;
    border-radius: 12px;
    color: white;
}

.item4 .icon2{
    font-size: 30px;
    background-color: #FF7E35;
    /* width: 40px; */
    padding: 9px 12px 9px 12px;
    border-radius: 12px;
    color: white;
}

.item4 p{
    font-size: 12px;
    color: #90969E;
    width: 105px;
    margin-top: 10px;
}

  .item5 {
    padding: 20px;
    grid-column: 2 / span 2;
    grid-row: 2;
    width: 535px;
    height: 340px;
    border-radius: 25px;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1601049676869-702ea24cfd58?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTB8fGNyZWFtfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60");
  }

.item5 p{
    opacity: 0;
}

/* section deskripsi */
section.deskripsi{
    padding-top: 233px;
    max-width: 706px;
    margin: 0 auto;

}

.deskripsi .grid-deskripsi {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 60px 10px 60px 10px;
}
  
.deskripsi .grid-deskripsi{
    background-color: #ffffffcc;
    text-align: left;
    font-size: 30px;
}

.grid-deskripsi .des1{
    font-size: 21px;
    font-family: "inter", sans-serif;
    color: #346159;
    font-weight: bold;
    margin-right: 62px;
}

.grid-deskripsi .des2{
    font-size: 12px;
    font-family: "inter", sans-serif;
    color: #90969E;
}

.grid-deskripsi .des3 a{
    padding: 10px 15px 10px 15px;
    background-color: #FFFFFF;
    border: 1px solid #366059;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "inter", sans-serif;
    font-weight: normal;
    font-size: 11px;
    color: #366059;
    text-decoration: none;
    margin-left: 50px;
}

.grid-deskripsi .title{
    grid-column: 1/3;
    font-size: 26px;
    font-weight: bold;
    font-family: "inter", sans-serif;
    color: #366059;
}

.grid-deskripsi .more a{
    border-radius: 100%;
    border: solid #FF7E35;
    font-size: 20px;
}
