



/* ----------------------------------- */
/* global */
/* ----------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    /* overflow-y: hidden; */
}

html{
    margin: 0;
}

body{
    margin: 0;

}
/* 
section{}
*/



h1{
    font-size: 64px;
    line-height: 76.8px;
    text-align: center;
    color: #ffffff;
}

h2{
    font-size: 42px;
    font-weight: 600;
}

h4{
    font-size: 38px;
    font-weight: 600;
    line-height: 38px;
}

h5{
    font-size: 32px;
    font-weight: 600;
}

p{
    font-size: 18px;
    color:#ffffff;
}

ul ,li{
    list-style: none;
    font-size: 16px;
    color: #ffffff;
    font-weight:400;
}

li a{
    text-decoration: none;
    font-size: 14px;
    color: #EAECF2;
    /* line-height: 24px; */
    font-weight: normal;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}


.row{
    display: flex;
}

b{
    color: #DCAC16;
    font-weight: 600;
}



.logo{
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
    line-height: 24px;
}

button{
    font-size: 18px;
    padding: 18px 23px;
    text-decoration: none;
    background-color: #DCAC16;
    border: none;
    color: #ffffff;
    cursor:pointer
}


/* ----------------------------------- */
/* block */
/* ----------------------------------- */

/* header ----------------------------- */
header.header{
    width: 100%;
    background: transparent;
    position: absolute;
    top: 56px;
    z-index: 999;
}

header .container{
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
    display: table;
}

.icon{
    /* z-index: 1; */
    float: left;
    margin-top: -2px;
}

header .mobile-nav{
    position: relative;
    display: none;
    float: right;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: #fff;

    outline: none;
    cursor: pointer;
    padding: 0;
    appearance: none;
    background: none;
    border: none;
}

/* .mobile-nav:before{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: #fff;
    margin: 2px 0 5px 0;
    transition: all 0.4s;
} */

.mobile-nav .bar, .mobile-nav:before, .mobile-nav:after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: #fff;
    margin: 3px 0;
    transition: all 0.4s;
}

.mobile-nav.is-active:before {
    transform: rotate(-45deg) translate(-3px,4px);
}

.mobile-nav.is-active:after {
    transform: rotate(45deg) translate(-4.5px,-5.5px);
}

.mobile-nav.is-active .bar{
    opacity: 0;
}

header .site-nav-menu{
    float: right;
    position: relative;
    right: 31%;
}


header .primary-menu li{
    display: inline-block;
}

header .primary-menu a {
    color: #fff;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 15px 10px;
    transition: .5s;
}
/* nav ----------------------------------- */


/* nav li{
    font-size: 16px;
} */

nav .container{
    margin: 0 auto 121px auto;
    background: transparent;
}

nav .row{
    width: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* hero ----------------------------------- */

section.hero {
    background-image: url("asset/green-interior-modern-interior-living-room-style-with-soft-sofa-green-wall-3d-rendering-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 190px;
    position: relative;
    top: 0;
    width:100%;
    height: 987px;
    overflow-x: hidden;
}
.hero button{
    margin-top: 58px;
}


.hero .container{
    max-width: 660px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.hero .container img{
    position: absolute;
    bottom: 95px;
    left: 85px;
}


/* product kategori -------------------------------------------------- */

section.kategori{
    margin-top: 80px;
}

section.kategori p{
    font-size: 16px;
    color: #000;
}

section.kategori .row{
    align-items: center;
    justify-content: space-between;
}

.vektor{
    margin: 10px 0 58px 0;
}

/* Product card------------------------------------------------------ */

section.kategori .card{
    width: 270px;
    height: 338px;
    background-color: #F1F1F1;
    border-radius: 16px;
    text-align: center;
    padding: 50px 0px 0 0px;
    position: relative;
    transition: all 0.4s ease 0s;
}

section.kategori .card p{
    display: none;
    font-size: 18px;
    color: #686767;
    transition: all 0.4s ease 0s;
    font-weight: 400;
    line-height: 18px;
}

section.kategori .card .lamp{
    position: absolute;
    bottom: -25px;
    left: 50px;
    filter: grayscale(100%);
    transition: all 0.4s ease 0s;
}

section.kategori .card .chair{
    position: absolute;
    bottom: -25px;
    left: 50px;
    filter: grayscale(100%);
    transition: all 0.4s ease 0s;
}

section.kategori .card .cabin{
    position: absolute;
    bottom: -40px;
    left: 50px;
    filter: grayscale(100%);
    transition: all 0.4s ease 0s;
}

section.kategori .card .table{
    position: absolute;
    bottom: -46px;
    left: 0;
    filter: grayscale(100%);
    transition: all 0.3s ease 0s;
}

/* Product card hover --------------------------------------------------------------- */

section.kategori .card:hover .lamp{
    filter: grayscale(0%);
    bottom: -13px;
}

section.kategori .card:hover .chair{
    filter: grayscale(0%);
    bottom: -13px;
}

section.kategori .card:hover .cabin{

    bottom: -28px;
    filter: grayscale(0%);
    transition: all 0.4s ease 0s;
}

section.kategori .card:hover .table{
    filter: grayscale(0%);
    bottom: -31px;
}
section.kategori .card:hover p{
    display: block;
} 

section.kategori .card:hover{
    padding: 30px 0px 0 0px;
}

/* Artikel------------------------------------------------------------------------ */
section.artikel{
    margin: 170px 0 129px 0;
}

/* section.artikel .container{
    margin-left: 90px;
    max-width: 1077px;
} */

section.artikel .row{
    gap: 63px;
    align-items: center;
}

section.artikel .img-bg{
    width: 660px;
    height: 425px;
    background-size: cover;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-image: url("asset/image 3.png");
}


section.artikel p{
    font-size: 20px;
    color: #686767;
    line-height: 150%;
    font-weight: 500;
}

section.artikel .isi{
    max-width: 370px;
    display: flex;
    flex-direction: column;
    gap: 54px;
}

section.artikel .isi h4{
    font-weight: 700;
}

section.artikel .deskripsi{
    display: flex;
    flex-direction: column;
    gap: 76px;
    max-width: 302px;
}

section.artikel .deskripsi button{
    width: 216px;
    padding: 18px 0;
}

/* Promo --------------------------------------------------------------------- */

/* section.promo .container{
    max-width: 1170px;
    height: 215px;
} */

section.promo .linear{
    background-image: url(asset/Rectangle\ 3\ 1.png);
    background-size: cover;
    height: 399px;
    padding: 73px 0 0 104px;
    border-radius: 16px;
    position: relative;
    z-index: 1;
}

section.promo .linear h2{
    color: #ffffff;
    width: 295px;
    line-height: 120%;
    margin-bottom: 45px;
}

/* footer -------------------------------------------------------------------- */

footer{
    background-color: #29795A;
    position: relative;
    margin-top: -220px;
}

footer p{
    margin-bottom: 18px;
}

footer ul li{
    padding: 6px 0px 6px 0px;
    line-height: 24px;
}

footer .container{
    max-width: 1080px;
}

footer .col{
    width: 255px;
    padding: 64px 5px;
}

footer .row{
    /* justify-content: space-between; */
    gap: 20px;
    padding-top: 280px;
}

footer img{
    width: 162px;
    height: 48px;
    object-fit: cover;
}

/* Footer ---------------------------------------------------------------------------- */

/*  */

/* @media only screen and (min-width: 1400px){
    header .container{
        margin: 0 0 0 135px;
    }
} */

@media only screen and (max-width: 1024px){
/* ----------------------------------------------------------------------------------- */
/* Global ---------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */

h1{
    font-size: 50px;
    line-height: 60px;
}

h2{
    font-size: 32px;
    font-weight: 600;
}

h4{
    font-size: 26px;
}

h5{
    font-size: 25px;
}


ul ,li{
    font-size: 15px;
}

li a{
    font-size: 14px;
}

.container{
    max-width: 900px;
}


.row{
    display: flex;
}


/* ------------------------------------------------------------------------- */
/* Block --------------------------------------------------------------------*/
/* ------------------------------------------------------------------------- */



/* Header -------------------------------------------------------------------*/


header .container{
    margin: 0 auto;
    max-width: 900px;
}

header .primary-menu a{
    letter-spacing: 0;
    padding: 15px 15px;
}

header.header{
    top: 49px;
}

header .site-nav-menu {
    position: relative;
    right: 25.5%;
}

/* Header ------------------------------------------------------------------ */



/*nav ---------------------------------------------------------------------- */

nav .row{
    width: 617px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

/* nav --------------------------------------------------------------------- */



/* Hero -------------------------------------------------------------------- */

section.hero{
    padding-top: 130px;
    height: 763px;
}

.hero .container img {
    /* bottom: 108px; */
    left: 128px;
    width: 207px;
}

/* Hero -------------------------------------------------------------------- */




/* Kategori ---------------------------------------------------------------- */

section.kategori{
    margin-top: 60px;
}
section.kategori p{
    font-size: 15px;
}
.vektor {
    margin: 0px 0 50px 0;
    width: 180px;
}


/* Produk card ------------------------------------------------------------- */

section.kategori .card{
    width:210px ;
    height:280px ;
    padding: 25px 0px 0 0px;
}

section.kategori .card p{
    font-size: 13px;
}

section.kategori .card .lamp{
    width: 125px;
    height: 200px;
    left: 43px;
}

section.kategori .card .chair{
    width: 125px;
    height: 200px;
    left: 43px;
}

section.kategori .card .cabin{
    width: 165px;
    height: 200px;
    bottom: -25px;
    left: 23px;
}

section.kategori .card .table{
    width: 200px;
    height: 200px;
    bottom: -25px;
    left: 5px;
}

/* Produk Card ------------------------------------------------------------------*/

/* Hover ----------------------------------------------------------------------- */

section.kategori .card:hover .lamp{
    bottom: -13px;
}

section.kategori .card:hover .chair{
    bottom: -13px;
}

section.kategori .card:hover .cabin{
    bottom: -13px;
}

section.kategori .card:hover .table{
    bottom: -7px;
}

section.kategori .card:hover{
    padding: 18px 0px 0 0px;
}

/* Hover ----------------------------------------------------------------------- */


/* Artikel --------------------------------------------------------------------- */

section.artikel {
    margin: 120px 0 95px 0;
}

section.artikel p {
    font-size: 15px;
    width: 226px;
}

section.artikel h4{
    max-width: 250px;
}

section.artikel .img-bg{
    height: 381px;
    width: 450px;
}

section.artikel .row{
    gap: 60px;
}

/* Artikel --------------------------------------------------------------------- */

/* Promo ----------------------------------------------------------------------- */

section.promo .linear{
    height: 326px;
    padding: 58px 0 0 67px;
}

section.promo .linear h2{
    width: 226px;
    line-height: 38.4px;
    margin-bottom: 40px;
}

/* Promo ----------------------------------------------------------------------- */

/* Footer ---------------------------------------------------------------------- */

footer{
    margin-top: -163px;
}

footer .container{
    max-width: 776px;
}

footer .row {
    padding-top: 191px;
    padding-bottom: 50px;
}

footer .col{
    width: 170px;
    padding: 20px 5px;
}

/* Footer ---------------------------------------------------------------------- */



/* ----------------------------------------------------------------------------- */
/* Block ------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------- */

}

/* Tablet Portrait */

@media only screen and (max-width:855px){

    /* ------------------------------------------------------------------------ */
    /* Global------------------------------------------------------------------ */
    /* ------------------------------------------------------------------------ */

    h1{
        font-size: 38px;
        line-height: 45.6px;
    }
    
    h2{
        font-size: 32px;
    }
    
    h4{
        font-size: 28px;
    }
    
    h5{
        font-size: 25px;
    }
    
    p{
        font-size: 16px;
    }
    
    ul ,li{
        font-size: 12px;
    }
    
    li a{
        font-size: 12px;
    }
    
    .container{
        max-width: 660px;
    }
    
    
    .row{
        display: flex;
    }
    
    .logo{
        font-size: 17px;
    }
    
    button{
        font-size: 14px;
        padding: 14.5px 23.5px;
    }


    /* ----------------------------------------------------------------------------------- */
    /* Block------------------------------------------------------------------------------ */
    /* ----------------------------------------------------------------------------------- */


    /* Header------------------------------------------------------------------------------*/

    header.header{
        top: 32px;
    }

    header .container{
        max-width: 660px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    header .site-nav-menu{
        float: none;
        position: absolute;
        background: #366154f2;
        right: 0px;
        width: 100%;
        top: -32px;
        padding: 30px 0 30px 0;
        clip-path:circle(0% at 100% 0%);
        transition: all 0.8s;
        z-index: -1;
    }

    header .primary-menu li{
        display: block;
        text-align: center;
        margin: 49px 5px;
    }

    header .mobile-nav{
        display: block;
        /* z-index: 1; */
    }

    header .mobile-menu{
        clip-path: circle(142% at 100% 0%);
    }

    header .primary-menu li a:after{
        display: none;
    }

    header ul li a{
        font-size: 16px;
    }

    /* Header------------------------------------------------------------------------------*/
    
    /* Hero--------------------------------------------------------------------------------*/

    section.hero{
        height: 567px;
        padding-top: 88px;
    }

    .hero .container{
        max-width: 464px;
    }

    .hero .container img{
        width: 149px;
        bottom: 80px;
        left: 80px;
    }

    .hero button{
        margin-top: 48px;
    }

    /* Hero---------------------------------------------------------------------------------*/


    /* Kategori-----------------------------------------------------------------------------*/

    section.kategori p{
        font-size: 14px;
    }

    .vektor{
        width: 139px;
        margin: 0px 0 40px 0;
    }

    section.kategori .row{
        flex-wrap: wrap;
        gap: 60px 40px;
    }

    section.kategori .card{
        width: 310px;
        height: 360px;
        padding: 55px 0px 0 0px;
    }

    /* Product Card------------------------------------------------------------------------ */

    section.kategori .card .lamp{
        bottom: -25px;
        left: 63px;
        width: 184.85px;
        height:250.14px ;
    }
    
    section.kategori .card .chair{
        bottom: -25px;
        left: 63px;
        width: 184.85px;
        height:250.14px ;
    }
    
    section.kategori .card .cabin{
        bottom: -40px;
        left: 57px;
        width: 196.33px;
        height: 270.08px;
    }
    
    section.kategori .card .table{
        bottom: -46px;
        left: 29px;
        width: 252px;
        height: 190px;
    }

    /* Product Card------------------------------------------------------------------------ */

    /* Kategori-----------------------------------------------------------------------------*/


    /* Artikel----------------------------------------------------------------------------- */

    section.artikel .row{
        gap: 31px;
    }

    section.artikel h4{
        max-width: 269px;
    }

    section.artikel .img-bg{
        width:360px ;
        height:300px ;
    }

    section.artikel .isi{
        gap: 35px;
    }

    section.artikel .deskripsi{
        gap: 40px;
    }

    section.artikel .deskripsi button{
        width: 172px;
    }
    /* Artikel----------------------------------------------------------------------------- */

    /* Promo------------------------------------------------------------------------------- */

    section.promo .linear {
        height: 250px;
        padding: 35px 0 0 45px;
    }

    section.promo .linear h2{
        font-size: 26px;
        line-height: 31px;
        margin-bottom: 37px;
        width: 200px;
    }

    /* Promo------------------------------------------------------------------------------- */

    /* Footer------------------------------------------------------------------------------ */
    footer .container{
        max-width: 620px;
    }

    footer .col{
        width: 140px;
        padding: 20px 0;
    }

    footer img {
        width: 140px;
        height: 42px;
        object-fit: cover;
    }

    footer .row{
        padding-top: 205px;
    }
    /* Footer-------------------------------------------------------------------------------*/
}

/* Mobile-----------------------------------------------------------------------------------*/

@media only screen and (max-width:450px){
    /* ------------------------------------------------------------------------------------ */
    /*Global--------------------------------------------------------------------------------*/
    /* ------------------------------------------------------------------------------------ */
    h1{
        font-size: 18px;
        line-height: 21.6px;
    }
    
    h2{
        font-size: 16px;
        line-height: 19.2px;
    }
    
    h4{
        font-size: 14px;
    }
    
    h5{
        font-size: 14px;
    }
    
    p{
        font-size: 14px;
    }
    
    ul ,li{
        font-size: 12px;
    }
    
    li a{
        font-size: 12px;
    }
    
    .container{
        max-width: 300px;
    }
    
    .logo{
        font-size: 15px;
    }
    
    button{    
        font-size: 9px;
        padding: 10px 12px;
    }

/* ------------------------------------------------------------------------------------ */
/*Global--------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------ */



/* ------------------------------------------------------------------------------------ */
/*Block --------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------ */

/* Header------------------------------------------------------------------------------ */

header .container{
    max-width: 300px;
}

header .primary-menu li{
    margin: 31.5px 0px;
}

header .site-nav-menu{
    top: -14px;
    padding: 30px 0 0px 0;

}

header.header{
    top:14px ;
}

/* Header------------------------------------------------------------------------------ */

/* Hero-------------------------------------------------------------------------------- */

section.hero{
    height: 267px;
    padding-top: 50px;
}

.hero .container{
    max-width: 162px;
}

.hero button{
    margin-top: 16px;
}

.hero .container img{
    width: 74px;
    bottom: 43px;
    left: 8px;
}

/* Hero-------------------------------------------------------------------------------- */

/* Kategori---------------------------------------------------------------------------- */

section.kategori {
    margin-top: 30px;
}

section.kategori p {
    font-size: 10px;
}

.vektor {
    width: 97px;
    margin: -7px 0 30px 0;
}

section.kategori .row {
    flex-wrap: wrap;
    gap: 40px 20px;
}

/* Kategori---------------------------------------------------------------------------- */

/* Card-------------------------------------------------------------------------------- */

section.kategori .card {
    width: 140px;
    height: 186px;
    padding: 27.5px 0px 0 0px;
}

section.kategori .card .chair{
    width: 83.48px;
    height:125.07px ;
    left: 28px;
    bottom: -16px;
}

section.kategori .card .cabin{
    width:88.5px ;
    height:128.04px ;
    left: 26px;
    bottom: -16px;
}

section.kategori .card .table{
    width: 112px;
    height: 113px;
    left: 14px;
    bottom: -16px;
}

section.kategori .card .lamp{
    width: 83.48px;
    height:125.07px ;
    left: 28px;
    bottom: -16px;
}

section.kategori .card p {
    font-size: 10px;
}

/* Card-------------------------------------------------------------------------------- */

/* Hover------------------------------------------------------------------------------- */

section.kategori .card:hover .chair{
    bottom: -7px;
}

section.kategori .card:hover .cabin{
    bottom: -7px;
}

section.kategori .card:hover .table{
    bottom: -7px;
}

section.kategori .card:hover .lamp{
    bottom: -7px;
}

/* Hover------------------------------------------------------------------------------- */

/* Artikel----------------------------------------------------------------------------- */

section.artikel {
    margin: 76px 0 76px 0;
}

section.artikel p{
    width: auto;
}

section.artikel .isi h4{
    font-size: 20px;
    line-height: 20px;
    max-width: none;
}

section.artikel .img-bg{
    width: 300px;
    height: 160px;
}

section.artikel .row{
    flex-direction: column;
    align-items: start;
    gap: 25px;
}

section.artikel .isi{
    gap: 15px;
}

section.artikel .deskripsi{
    gap: 12px;
}

section.artikel p{
    font-size: 14px;
}

section.artikel .deskripsi button{
    width: 108px;
    padding: 10px 0;
}

/* Artikel----------------------------------------------------------------------------- */

/* Promo------------------------------------------------------------------------------- */

section.promo .linear{
    height: 150px;
    padding: 21px 0 0 22px;
}

section.promo .linear h2{
    font-size: 16px;
    line-height: 19.2px;
    width: 116px;
    margin-bottom: 20px;
}

/* Promo------------------------------------------------------------------------------- */


/* Footer-------------------------------------------------------------------------------*/

footer .row {
    padding-top: 100px;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    margin-top: -80px;
}

/* Footer-------------------------------------------------------------------------------*/
}